.list-page {
    div{
        background:#FFFFFF;
        box-sizing: border-box;
        margin:auto;
        width:375px;
        margin-bottom:10px;
    }
    .weui-div{
        width:300px;
        border: 1px solid;
    }
}
